<!-- <h1 class="loginfont">Login</h1> -->
<div  class="loginfont">
<h5>Login</h5>
</div>
<div class="loginContainer">
  <div class="loginWrapper">

  <% if flash[:error] %>
  <strong><%= flash[:error] %></strong> <!-- # if they get a password wrong  -->
  <br>
  <% end %>

  <%= form_tag login_path do %>
  <span>
  <%= email_field_tag :email, nil , placeholder:"Enter email"  , class:"inputBox"%>
  </span>
  <br>
   <span>
  <%= password_field_tag :password, nil , placeholder:"Password"  , class:"inputBox"%>
  </span>
  <br>
  <%= submit_tag 'Login' , class:"inputBoxlogin"%>
  <% end %>
</div>
</div>
