
<% if flash[:errors].present?  %>
   <strong>Please correct the following errors:</strong>
   <ol>
   <% flash[:errors].each do |error| %>
     <li><%= error %></li>
   <% end %>
   </ol>
<% end %>


<div class="loginContainer">
  <div class="loginWrapper">


    <%= form_for(@user, html: {multipart: true}) do |f| %>
    <span>
      <%= f.text_field :name , placeholder:"User name" , class:"inputBox" %>
    </span>
    <span>
    <%= f.text_field :email, placeholder:"Enter email" , class:"inputBox" %>
  </span>
    <span>
    <%= f.password_field :password,  placeholder:"Password" , class:"inputBox" %>
  </span>
    <span>
    <%= f.password_field :password_confirmation, placeholder:"Password confirmation" , class:"inputBox"  %>
  </span >
  <br>
    <div class="profileText">
    <%= f.label :profile_image %>
    <%= f.cl_image_upload :profile_image, placeholder:"Password" , class:"inputBox" %>
  </div>
    <%= f.submit 'Submit' , class:"inputBoxlogin"%>
  <% end %>
  </div>
</div>
